.characteristic {
  padding-top: 60px;
  padding-bottom: 60px;
}
.characteristic__features {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.characteristic__class {
  width: 100%;
}
.characteristic__link {
  display: flex;
  justify-content: center;
  background: #f5f4fa;
  border-radius: 4px;
  height: 120px;
  align-items: center;
  margin-bottom: 30px;
}
.characteristic__icon {
  fill: var(--title-text-color);
}
.characteristic__title {
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}
.characteristic__text {
  color: var(--primary-text-color);
  line-height: 1.71;
}
@media screen and (min-width: 480px) {
  .characteristic__class {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .characteristic__features {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .characteristic__class {
    width: 354px;
  }

  .characteristic__title {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .characteristic {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .characteristic__features {
    display: flex;
    justify-content: space-between;
  }
  .characteristic__class {
    width: 270px;
  }
}
