.footer {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__logo {
  font-family: "Raleway";
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.footer__web {
  color: var(--accent-color);
}
.footer__place {
  margin-top: 20px;
}
.footer__information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__street {
  color: var(--primary-white-color);
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
}
.footer__distance:not(:last-child) {
  margin-bottom: 8px;
}
.footer__mail,
.footer__number {
  color: var(--secondary-white-color);
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active,
  &:hover,
  &:focus,
  &:active {
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1200px) {
  .footer__info {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
  .footer__logo {
    font-size: 26px;
    line-height: 1.19;
    justify-content: flex-start;
  }
  .footer__information {
    align-items: flex-start;
  }
  .footer__distance:not(:last-child) {
    margin-bottom: 9px;
  }
}
